/* style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333333;
}

.container {
    display: flex;
}

.sidebar {
    width: 20%;
    background-color: #ddd;
    padding: 20px;
}

.subject-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
    border: none;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.main-content {
    width: 80%;
    padding: 20px;
}

h2 {
    margin-bottom: 20px;
}

.chat-container {
    background-color: #fff;
    border: 1px solid #ccc;
    height: 400px;
    padding: 20px;
    overflow-y: auto;
    margin-bottom: 10px;
}

.chat-input {
    display: flex;
}

.chat-input input {
    flex-grow: 1;
    padding: 10px;
    margin-right: 10px;
}

.chat-input button, .quiz-button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.quiz-button{
    margin-top: 10px;
    width: 100%;
}

.message {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    max-width: 70%;
}

.bot-message {
    background-color: #e0e0e0;
    align-self: flex-start;
}

.user-message {
    background-color: #4CAF50;
    color: white;
    align-self: flex-end;
    text-align: right;
}

